.Search {
    /* background-color: aqua; */
    width: 100%;
    max-width: 1920px;
}

.Search h2 {
    padding: 10px 5px;
}
.Search section {
    display: flex;
    padding: 0 10px;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.Search section > input {
    flex: 1;
    padding: 10px 20px;
    font-size: var(--font-default);
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.Search section select {
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    font-size: var(--font-default);
    padding: 5px 10px;

}

/* 클릭된후 마커 */
.clicked-marker {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 150px;
    height: 50px;
    background-color: red;
}
.clicked-marker p {
    font-size: 14px;
}
.clicked-marker img {
    width: 100%;
    /* height: 40px; */
    object-fit: cover;
}