.Search {
    width: 100%;
    max-width: 1920px;
    padding: 0 30px;
}

.Search h2 {
    padding: 10px 5px;
}
.Search section {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.Search section > input {
    flex: 1;
    padding: 10px;
    font-size: var(--font-default);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.Search section select {
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    font-size: var(--font-default);
    padding: 5px 10px;
}
.Search section > button {
    border: none;
    outline: none;
    padding: 8px 12px;
    font-size: var(--font-default);
    color: #fff;
    background-color: black;
    border-radius: 5px;
}
.Search .search-map {
    border-radius: 20px;
}

/* 클릭된후 마커 */
