.search-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    padding: 0 20rem;
    background-color: rgba($color: #fff, $alpha: 0.7);
    

    .storeInfo {
        display: flex;
        flex-direction: column;
        // background-color: red;
        .marker-category {
            font-size: 1.5rem;
        }   
        .marker-name {
            font-size: 1.8rem;
        }   
        .marker-address {
            font-size: 1.5rem;
        }    
    }

    a {
        height: 100%; 
        img {
            height: 100%;
        }
    }
}

@media screen and (max-width: 720px) {
    .search-detail {
        display: none;
    }   
}