a img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px
}

.marker-category {
    color: gray;
}

.marker-name {
    font-size: 20px;
}

.marker-address{
    font-size: 14px;
}
.nomarker {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}