.updateboard {
    // background-color: red;
    width: 100%;
    max-width: 1920px;
    padding: 0 10rem;
    
    section {
        padding: 0.5rem;

        ul {
            li {
                font-size: 1.4rem;
                list-style: inside;
            }
        }
    }

}