.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid lightgray; */
    height: 5%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    padding: 20px 0;
}
.navbar-content > h1 {
    font-size: 38px;
    /* color: rgb(111, 150, 210); */
    color: rgb(175, 34, 175);
    filter: brightness(0.7);
    font-family: "font-navbar";
    padding: 10px 0;
}
.navbar-content .links {
    display: flex;
    gap: 20px;
}
.navbar-content .links a {
    font-size: 20px;
    color: gray;
    /* font-family: "font-navbar"; */
    font-family: "test-font";
}
.navbar-content .links a:hover {
    color: rgb(175, 34, 175);
}
.navbar-content .links a.active {
    color: black;
    font-weight: 600;
}
.navbar-content .links .youtube {
    color: red;
}

@media screen and (max-width: 780px){
    .navbar {
        height: 8%;
        padding: 0 5px;
    }
    .navbar-content > h1 {
        font-size: 26px;
    }
    .navbar-content .links {
        display: flex;
        gap: 10px;
    }
}