.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
  border-bottom: 1px solid #98A2B3;
  a {
    font-size: 2rem;
    font-weight: 400;
    color: #98A2B3;
  }

  a:hover {
    color: brown;
  }

  nav {
    display: flex;
    gap: 1.5rem;
    a {
      font-size: 1.7rem;
    }
  }
}

@media screen and (max-width:720px) {
  .navbar {
    display: none;
  }
}