.Search {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;

    

    .aside-content {
        z-index: 2;
        width: 400px;
        height: 100%;
        display: flex;
        position: absolute;
        flex-direction: column;
        transition: transform 0.3s ease-in-out;
        padding: 1rem;
        background-color: #fff;
        border-right: 1px solid #98A2B3;

        .search-input {
            display: flex;
            align-items: center;
            padding: 1rem 1rem;
            border: 1px solid #ccc;

            input {
                flex: 1;
                border: none;
                outline: none;
                font-size: 1.2rem;
                padding: 0.5rem 0.1rem;
            }
        }

        select {
            padding: 1rem 0.5rem;
            border: 1px solid #ccc;
            font-size: 1.2rem;
            color: gray;
        }

    }




    .search-option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding-bottom: 1rem;

        select {
            padding: 1rem 0.5rem;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 1.2rem;
            color: gray;
        }

        .search-input {
            flex: 1;
            display: flex;
            align-items: center;
            padding: 1rem 1rem;
            border: 1px solid #ccc;
            border-radius: 8px;

            input {
                flex: 1;
                border: none;
                outline: none;
                font-size: 1.2rem;
                padding: 0.5rem 0.1rem;
            }
        }
    }

    .search-body {
        position: relative;
        width: 100%;
        height: 100%;

        .search-map {
            width: 100%;
            height: 100%;

            .myLocation {
                padding: 10px;
                background-color: red;
                border-radius: 8px;
                font-size: 14;
                color: #fff;
            }
        }

    }
}

@media screen and (max-width:720px) {
    .Search {
        .aside-content {
            display: none;
        }
    }
}