.readme {
    
    
    padding: 0 10rem;
    text-align: center;

    h2{
        font-size: 3rem;
    }

    section {
        margin-top: 60px;
        strong {
            
            font-size: 3rem;
            
        }

        p {
            margin-top: 10px;
            font-size: 1.8rem;
        }
    }
}