* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px; /* index.css의 html에 font-size설정했는데 적용이안되서 app.css에 넣어둠 */
  
}
.App {
  height: 100vh;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}


/* Font */
